.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    // background: #15222e;
    overflow: hidden;
    flex-direction: column;
}

.main>div:first-child {
    // flex-grow: 1;
    width: 100%;
}

.main>div:last-child {
    // flex-grow: 1;
    margin-top: -6px;
    height: 60vh;
    width: 100%;
}

.main>div {
    // height: 100%;
}

.preview {
    overflow: hidden;
    background: white;
}

#previewFrame {
    height: 40vh;
}

.nav {
    background: #212529;
    padding-left: 50px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav .form-check-input {
    margin-top: 7px;
}

.nav .form-check-input:focus {
    box-shadow: none;
}

.nav .form-label,
.nav .form-check-label {
    color: #abb2bf !important;
    font-weight: 500;
    font-size: 0.75rem;
}

@media (max-width: 515px) {
    .nav .form-check-label {
        display: none;
    }
}

.nav-item {
    padding: 0.5rem 0;
    box-sizing: border-box;
    min-width: 70px;
    cursor: pointer;
    color: #abb2bf;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
}

.nav-item:hover {
    border-bottom: 2px solid #abb2bf;
    font-weight: 600;
}

.nav-item:active {
    background: #2a2f34;
}

.nav-item.active {
    border-bottom: 2px solid #abb2bf;
    font-weight: 600;
    background: #2a2f34;
}

.editor {
    padding: 1rem;
    width: 100%;
    height: calc(100vh - 70px);
    border: none;
    background: #212529;
    color: #abb2bf;
    resize: none;
}

.editor:focus-visible {
    outline: none;
}

ngx-monaco-editor {
    height: 100%;
    width: 100%;
}

.monaco-editor .view-line {
    max-width: calc(100vw - 70px);
}