.header {
    background-color: #f1efe7;
    box-sizing: border-box;
    padding: 0 3rem;
    text-align: center;
}

.header img {
    height: 50px;
    width: auto;
}

.pointer {
    cursor: pointer;
}